@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

h1 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

body {
  font-family: Gill Sans, "Trebuchet MS", sans-serif;
  background-image: url("img/AfricanSafariPicture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
