
body {
  font-family: Gill Sans, sans-serif;
  background-image: url("img/AfricanSafariPicture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: orange;
  color: white;
  text-align: center;
}
